.herocard {

    background-color:bisque;;
    height: 500px;
    display: block;
}
img{
    margin-left: 0px;
    
}
.image3{
    height: 500px;
}
.heroButton{
    background-color:red;
    float: right;
    margin-right: 100px;
}
.heroButton:hover{
    background-color:green;
}
.images{
    display: block;   
}
.herocard {
    display: inline-block;
    animation: herocard-images 60s linear infinite;
}
.herocard img {
    display: inline-block; 
    height: 500px;
    width: 2000px;
    position: absolute;
   
}
