.iconss {
    justify-content: center;
    margin-left: 30%;
    padding: 20px;
}

.moto {

    text-align: center;
}
.welcomeNote {
    text-align: center;
}
.welcome {
    background-color: aliceblue;
    height: 250px;

}