
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20%;
    background-color:wheat;
}

.iconss {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconss>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 2rem;
}

.iconss>*>svg {
    margin-bottom: 1rem;
}

.moto {
    margin-top: 2rem;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color:green;
    font-weight: bold;
}
.welcomeNote p{
    font-weight: bold;

}
.iconss text{
    color:green;
}