/* 
.Featuredcard {
    width: 100%;
    height: 300px;
    margin-top: 20px;

}

.Featuredcard img {
    width: 100%;
    height: 300px;
    margin-top: 5px;
    margin-left: 5%;
    border-radius: 5px;
}


.Featuredcard div {
    display: flexbox;
    margin-left: 5%;

}

div .itemName {
    white-space: nowrap;
}

.Featuredcard div button {
    width: 200px;
    height: 30px;
    background-color: grey;
    border-radius: 5px;
}

.Featuredcard button:hover {
    background-color: green;
    color: white;
}


.Featuredcard {
    position: relative;
    /* set position to relative so the button can be positioned absolutely */
/* }

.Featuredcard:hover button {
    display: block; */
    /* show the button when the user hovers over the image */
/* } */

/* .Featuredcard button {
    display: none; */
    /* hide the button by default */
    /* position: absolute;
    top: 50%; */
    /* position the button in the middle of the image vertically */
    /* left: 50%; */
    /* position the button in the middle of the image horizontally */
    /* transform: translate(-50%, -50%); */
    /* center the button on the image */
/* } */ 
