.Featuredcard{
    width: 100%;
    height: 500px;
 
    
    
}
.Featuredcard img{
    width: 100%;
    height: 400px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 10%;
    border-radius: 5px;
   
}



.Featuredcard div {
    display: flexbox;
    margin-left: 5%;
}

.Featuredcard div button {
    width: 200px;
    height: 30px;
}

