/* 

.reviewCard{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    
}

.reviewCard img {
    border-radius: 50%;
    overflow: hidden;
}



.slides {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
    animation: slide 20s infinite;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide.active {
    animation:forwards;
} */
 

.reviewCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: 0 1rem;
}

.clientImage {
    width: 100%;
    height: auto;
}

h4 {
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.reviewCard p {
    font-size: 1rem;
    text-align: center;
    font-style: italic;
   
}