
.register {

    display: block;
    margin: 0 auto;
    width: 20%;
    height: 500px;
    background-color: bisque;
    border-radius: 10px;
    margin-top: 50px;
}

form input {
    width: 90%;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
    border-style: none;


}

form label {

    margin-left: 20px;
}

.username {

    margin-top: 30px;
}

h4 {
    margin-top: 50px;
}

h3 {
    text-align: center;
}
.reButton{
    background-color:yellowgreen;
    margin-top: 50px;
    margin-left: 110px;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    
   
}
.reButton:hover{
background-color: green;
}
.fullName{
    margin-top: 30px;
}