
.dashboard{
    display: grid;
    grid-template-columns: 0% 100%;
    grid-gap: 0;
}


.menu{

    width: 500px;
    height: 600px;
    background-color:brown;
}

/* .homepanel{
    background-color: green;
    margin-left:500px ;
    grid-column-gap: 0;
    height: 300px;
    width: 500px;

} */


.products{
    margin-left: 500px;
    padding-top: 0px;
    margin-left: 500px;
    height: 600px;
    grid-column-gap: 0;


}
