:root {
  --green: rgb(39, 189, 39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--green);
  color: white;
}
button.secondary:hover {
  background-color: red;

}

.app {
  margin: 0 auto;
  max-width: 1200px;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--green);
}

main {
  padding: 0 1rem;
}

.new-plant-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 250, 181, 0.5);
  height: 600px;
  /* width: 500px; */
}

.new-plant-form form {
  display: block;
  justify-content: center;
  /* background-color: pink; */
  /* position: relative;
  top: 5%;
  left: 40%; */
  /* width: 400px;
  height:500px ; */
}
.postProduct{
    position: relative;
    top: 5%;
    left: 40%;
    width: 400px;
    height: 500px;
    background-color: aqua;

}
.new-plant-form form input{
  margin-top: 10px;
  margin-left: 150px;
  width: 200px;

}
/* .new-plant-form form label {
  margin-top: 10px;
  margin-left:20px;
  width: 200px;

} */
.new-plant-form form button {
  margin-top: 10px;
  margin-left: 10px;
  width: 150px;
  height: 30px;
  position: relative;
  left: 30%;
  top:100%;

}
.textarea {
  height: 100px;
  padding-left: 20px;

}


.new-plant-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-plant-form button {
  width: 150px;
}

.searchbar {
  padding: 1rem;
  display:block;
  flex-direction: column;
  width: 100px;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}
.delete{
  background-color: red;
}
.navbar{
text-align: right;
background-color: antiquewhite;
font-size: 18px;
justify-content: center;
  
}

.home {

  height: 1300px;
}

.herocard{

  background-color:pink;
  height: 500px;
}
.Ftitle{
  text-align: center;
}




.welcome{
  background-color: aliceblue;
  height: 250px;


}
.welcomeNote{
  text-align: center;
}
.featured{
background-color: pink;
height: 600px;

}
.iconss{
  justify-content: center;
  margin-left: 30%;
  padding: 20px;
}
.moto{

  text-align: center;
}
.footer{
  background-color: black;
  height: 300px;
  color: white;
}
.footerForm{
  background-color: black;
  height: 80px;
  display: block;
  margin-top: 20px;
  color: white;
}
.footerInfo{

  display: grid;
  grid-template-columns: 200px ;

  
}
.email{
  width: 500px;
  margin-top: 20px;
}
.labell{
  margin-top: 20px;
  
}
.submitt{
  height: 36px;
  width: 80px;
  margin-left: 10px;
  border-radius: 2px;
  font: bold;
}
.submitt:hover{
  background-color: green;

}
.heroButton{
  margin-top: 400px;
  margin-left: 100px;
  height: 50px;
  width: 150px;
  border-radius: 10px;
  font-size: 15px;
  

}
.heroButton:hover{
  background-color: green;

}